In [1]:
import pandas as pd

df = pd.read_excel("Bolt diameter.xlsx")
df

    Diameter  ex
0      10.22  10
1      11.00  10
2      10.98  10
3      12.26  10
4      10.96  10
5      10.48  10
6      10.92  10
7      11.60  10
8      12.50  10
9       8.98  10
10      9.99  10
11      9.99  10
12     10.65  10
13     10.85  10
14     10.90  10
15     10.88  10
16     10.98  10
17     10.96  10
18     11.26  10
19     12.45  10

Given : n = 20, μ = 10mm, α = 0.1

#### Step-1 : Formulate the Hypothesis
    - H0 : μ == 10mm
    - H1 : μ != 10mm

#### Step-2 : Check alpha value 
i.e. α = 0.1

#### Step-3 : Check for Normality

In [6]:
df["Diameter"].skew()  # Skewness is lies between -1 to 1 so data is normally distributed.

0.009738124305753312

#### Step-4 : Select the test based on the problem statement

- It is a 1 Sample t-test with both tailed test because we have identify population mean is equal or not and standard deviation is not given.

#### Step-5 : Calculate the P-value(Probability value) using z-test formulae.

In [15]:
from scipy import stats
ttest = stats.ttest_1samp(df["Diameter"],popmean=10,alternative="two-sided")
ttest

TtestResult(statistic=4.994230312195523, pvalue=8.05307069702133e-05, df=19)

In [18]:
from scipy import stats
ttest = stats.ttest_1samp(df["ex"],popmean=10)
ttest

TtestResult(statistic=nan, pvalue=nan, df=19)

#### Step-6 : Check Based on calculated p-value, either accept or reject the null hypothesis.

- As the p-value is less then the alpha (0.0000805 < 0.05), so p-value lies in rejection area
- So, reject the Null Hypothesis and accept Alternative Hypothesis, means μ != 10mm so action is required.