In [44]:
import pandas as pd
df = pd.read_excel("D:\\Data Science by SRK\\studentData.xlsx")
print(df)
print("Mean =",df['Marks'].mean())
print("Median =",df['Marks'].median())
print("Minimum =",df['Marks'].min())
print("Maximum =",df['Marks'].max())
print("Range =",(df['Marks'].max()-df['Marks'].min()))
Deviation = (df['Marks']-df['Marks'].mean())
print("Deviation =",Deviation)
df['Marks-mean'] = df['Marks']-df['Marks'].mean()
print(df)
print("Mean Deviation =",df["Marks-mean"].mean())
df["SqDev"] = Deviation*Deviation
print("Square Deviation =",df["SqDev"])
print(df)
print("Mean Square Deviation(variance) =",df['Marks'].var(ddof=0))
print("Mean Square Deviation(variance)=",df["SqDev"].mean())
print("Std.Deviation = ",df['Marks'].std(ddof=0))
print(df['Marks'].quantile(0))
print(df['Marks'].quantile(0.75))
df['Marks'].median()
Deviation.sum()

   Sid     Name  Gender  Marks
0    1      Sai    male     11
1    2      Ram    male     21
2    3   Krishn    male     31
3    4      Dev    male     51
4    5  Shrijal  female     99
5    6    Samya  female     91
6    7      Rao    male     77
7    8      Adi    male      1
8    9     Jaya  female     75
9   10    Vijay    male     71
Mean = 52.8
Median = 61.0
Minimum = 1
Maximum = 99
Range = 98
Deviation = 0   -41.8
1   -31.8
2   -21.8
3    -1.8
4    46.2
5    38.2
6    24.2
7   -51.8
8    22.2
9    18.2
Name: Marks, dtype: float64
   Sid     Name  Gender  Marks  Marks-mean
0    1      Sai    male     11       -41.8
1    2      Ram    male     21       -31.8
2    3   Krishn    male     31       -21.8
3    4      Dev    male     51        -1.8
4    5  Shrijal  female     99        46.2
5    6    Samya  female     91        38.2
6    7      Rao    male     77        24.2
7    8      Adi    male      1       -51.8
8    9     Jaya  female     75        22.2
9   10    Vijay    male     71        18.2
Mean Deviation = 2.842170943040401e-15
Square Deviation = 0    1747.24
1    1011.24
2     475.24
3       3.24
4    2134.44
5    1459.24
6     585.64
7    2683.24
8     492.84
9     331.24
Name: SqDev, dtype: float64
   Sid     Name  Gender  Marks  Marks-mean    SqDev
0    1      Sai    male     11       -41.8  1747.24
1    2      Ram    male     21       -31.8  1011.24
2    3   Krishn    male     31       -21.8   475.24
3    4      Dev    male     51        -1.8     3.24
4    5  Shrijal  female     99        46.2  2134.44
5    6    Samya  female     91        38.2  1459.24
6    7      Rao    male     77        24.2   585.64
7    8      Adi    male      1       -51.8  2683.24
8    9     Jaya  female     75        22.2   492.84
9   10    Vijay    male     71        18.2   331.24
Mean Square Deviation(variance) = 1092.3600000000001
Mean Square Deviation(variance)= 1092.3600000000001
Std.Deviation =  33.05086988265211
1.0
76.5

2.842170943040401e-14

In [1]:
import pandas as pd
df = pd.read_excel("D:\\Data Science by SRK\\studentData.xlsx")
df

   Sid     Name  Gender  Marks
0    1      Sai    male     11
1    2      Ram    male     21
2    3   Krishn    male     31
3    4      Dev    male     51
4    5  Shrijal  female     99
5    6    Samya  female     91
6    7      Rao    male     77
7    8      Adi    male      1
8    9     Jaya  female     75
9   10    Vijay    male     71

In [2]:
df[a"] df["Marks"] - df["Marks"].mean()

0   -41.8
1   -31.8
2   -21.8
3    -1.8
4    46.2
5    38.2
6    24.2
7   -51.8
8    22.2
9    18.2
Name: Marks, dtype: float64

In [21]:
import pandas as pd
df = pd.DataFrame([1,10,15,25,12,20],columns =["values"])
df['values'].median()

13.5